h1 {
    font-family: 'Roboto', Arial, serif;
    font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1.dashboard-title {
  font-size: 26px;
}

h1.dashboard-title small{
  font-size: 16px;
  color: #888888;
}

div {
    display: block;
}

body {
  display: block;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  resize: none;
}
